<p>booking works!</p>
<h2>Booking Table</h2>

{{ bookingForm.value | json }}
{{ bookingForm.pristine | json }}
{{ bookingForm.dirty | json }}
<br />
<hr />
<br />

@if(passPortCheck){
<div class="mb-2">
  <button mat-raised-button color="primary" (click)="addPassPort()">
    Add Passport
  </button>
</div>
}@else {
<div class="mb-2">
  <button mat-raised-button color="primary" (click)="deletePassPort()">
    Remove Passport
  </button>
</div>
}

<form class="example-form" [formGroup]="bookingForm" (ngSubmit)="addBooking()">
  <!-- Handling dynamic element Passport input -->
  <!-- *********** This @if is very important to connect with formControl ****-->
  @if(bookingForm.get('passport')){
  <mat-form-field class="example-full-width">
    <mat-label>Passport</mat-label>
    <input
      type="text"
      matInput
      formControlName="passport"
      placeholder="Passport Number"
    />
  </mat-form-field>
  }

  <mat-form-field class="example-full-width">
    <mat-label>Room Id</mat-label>
    <input
      type="text"
      matInput
      formControlName="roomId"
      placeholder="Ex. 123XYe"
    />

    <!-- @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) 
    {
    <mat-error>Please enter a valid email address</mat-error>
    }
     
    @if (emailFormControl.hasError('required')) 
    {
    <mat-error>Email is <strong>required</strong></mat-error>
    } -->
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Guest Name</mat-label>
    <input
      type="text"
      matInput
      formControlName="guestName"
      placeholder="Ram Kumar..."
    />

    @if (bookingForm.get('guestName')?.hasError('minlength')) {
    <mat-error> Guest name must be at least 5 characters! </mat-error>
    } 
    @if (bookingForm.get('guestName')?.hasError('required')) {
    <mat-error> Email is <strong>required</strong> </mat-error>
    }
    @if (bookingForm.get('guestName')?.hasError('invalidName')) {
    <mat-error> <strong>test</strong> in name not allowed </mat-error>
    }
    @if (bookingForm.get('guestName')?.hasError('invalidSpecialChar')) {
    <mat-error> <strong>Special Character</strong> not allowed </mat-error>
    }

  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Guest Email</mat-label>
    <input
      type="email"
      matInput
      formControlName="guestEmail"
      placeholder="Ex. xyz@gmail.com"
    />
    @if (bookingForm.get('guestEmail')?.hasError('email')) {
    <mat-error> Wrong email format </mat-error>
    } @if (bookingForm.get('guestEmail')?.hasError('required')) {
    <mat-error> Email is <strong>require!</strong> </mat-error>
    }
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Mobile Number</mat-label>
    <input
      type="text"
      matInput
      formControlName="mobileNumber"
      placeholder="Mobile Number "
    />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Booking Amount</mat-label>
    <input
      type="number"
      matInput
      formControlName="bookingAmount"
      placeholder="Amount  "
    />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Checkin date</mat-label>

    <input matInput [matDatepicker]="picker" formControlName="checkinDate" />

    <mat-hint>MM/DD/YYYY</mat-hint>

    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  @if(bookingForm.get('checkoutDate')?.hasError('invalidDate')){
    <mat-error>
      Checkout date must be <strong>greater</strong> than Checkin date
    </mat-error>
  }

  <mat-form-field class="example-full-width">
    <mat-label>Checkout date</mat-label>

    <input matInput [matDatepicker]="picker2" formControlName="checkoutDate" />

    <mat-hint>MM/DD/YYYY</mat-hint>

    <mat-datepicker-toggle
      matIconSuffix
      [for]="picker2"
    ></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>

  @if(bookingForm.get('checkoutDate')?.hasError('invalidDate')){
    <mat-error>
      Checkout date must be <strong>greater</strong> than Checkin date
    </mat-error>
  }

  <mat-form-field class="example-full-width">
    <mat-label>Booking date</mat-label>

    <input matInput [matDatepicker]="picker3" formControlName="bookingDate" />

    <mat-datepicker-toggle
      matIconSuffix
      [for]="picker3"
    ></mat-datepicker-toggle>
    <mat-datepicker #picker3></mat-datepicker>
  </mat-form-field>

  <!-- *** Expansion panel dynamic form part -->
  <div class="mb-3" formGroupName="address">
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Address </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-form-field class="example-full-width">
          <mat-label>Address Line 1</mat-label>
          <input
            type="text"
            matInput
            formControlName="addressLine1"
            placeholder="Address Line1"
          />
        </mat-form-field>
        @if (bookingForm.get('address.addressLine1')?.hasError('required') &&
        (bookingForm.get('address.addressLine1')?.touched ||
        bookingForm.get('address.addressLine1')?.dirty)) {

        <mat-error> Address Line1 is <strong>require</strong> </mat-error>
        }

        <mat-form-field class="example-full-width">
          <mat-label>Address Line 2</mat-label>
          <input
            type="text"
            matInput
            formControlName="addressLine2"
            placeholder="Address Line2"
          />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>City</mat-label>
          <input
            type="text"
            matInput
            formControlName="city"
            placeholder="City"
          />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>State</mat-label>
          <input
            type="text"
            matInput
            formControlName="state"
            placeholder="State"
          />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Country</mat-label>
          <input
            type="text"
            matInput
            formControlName="country"
            placeholder="Country"
          />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Zip Code</mat-label>
          <input
            type="text"
            matInput
            formControlName="zipCode"
            placeholder="Zip-Code"
            required
          />
          @if (bookingForm.get('address.zipCode')?.hasError('noSpace')) {
            <mat-error> 
            <strong>Space</strong> not allowed!
            </mat-error>
          }
        </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <!-- For adding functionality to add guest details -->
  <div class="mb-3">
    <button
      type="button"
      mat-raised-button
      color="primary"
      (click)="addGuest()"
    >
      Add Guest
    </button>
  </div>

  <!-- Dynamic form section with Expansion planel for Add Guest -->
  <div formArrayName="guests" class="mb-3">
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Guests </mat-panel-title>
        </mat-expansion-panel-header>

        <!-- Dynamic renderning  -->
        @for (guest of guests.controls; track $index) {
        <div [formGroupName]="$index">
          <h6>Guest {{ $index + 1 }}</h6>
          <mat-form-field class="example-full-width">
            <input
              type="text"
              matInput
              formControlName="guestName"
              placeholder="Guest{{ $index + 1 }} Name"
            />
          </mat-form-field>
          @if (bookingForm.get(['guests',$index,'guestName'])?.hasError('required') && bookingForm.get(['guests',$index,'guestName'])?.touched) {
          <mat-error>
            Guestname is <strong>require</strong>
          </mat-error>
          }

          <mat-form-field class="example-full-width">
            <input
              type="number"
              matInput
              formControlName="age"
              placeholder="Guest{{ $index + 1 }} Age"
            />
          </mat-form-field>
        </div>
        <div class="mb-1">
          <button
            mat-raised-button
            color="primary"
            type="button"
            (click)="removeGuest($index)"
          >
            Remove Guest
          </button>
        </div>
        }
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <!-- tnc Check box -->
  <div>
    <mat-checkbox class="example-margin" formControlName="tnc"
      >TnC (Terms & Conditions)</mat-checkbox
    >
    @if (bookingForm.get('tnc')?.hasError('required')&&
    (bookingForm.get('tnc')?.touched || bookingForm.get('tnc')?.dirty)) {
    <mat-error> You must accept Terms & Conditions. </mat-error>
    }
  </div>

  <div>
    <button
      [disabled]="bookingForm.invalid"
      type="submit"
      class="example-full-width"
      mat-raised-button
      color="primary"
    >
      Book It!
    </button>
  </div>
</form>
