<!-- <p>Welcome to rooms of {{ hotelName() }}</p> -->
<app-header></app-header>
<app-header></app-header>
<app-header></app-header>
<app-header></app-header>


<button (click)="changeTitle()">Control header child value</button>

<div [hidden]="hideRooms">
  <p>Number of rooms:</p>
  <div [innerText]="numberOfRooms"></div>
</div>
<button (click)="toggle()">Toggle to hide RoomList and the above part</button>
<br /><br />

<!-- <div *ngIf="rooms.availableRooms > 0">
    Rooms List
</div> -->

<!-- <h3>Use of <code>&#64;if</code></h3>
@if (rooms.availableRooms && rooms.availableRooms > 0) {
<div style="margin-bottom: 10px">Rooms List</div>
<ul>
  <h3>Use of <code>&#64;for</code></h3>

  @for (item of allRooms; track $index) { @if (item.availableRooms) {
  <li>{{ item.availableRooms }} ------ {{ item.bookedRooms }}</li>
  }@else {
  <li>No room availableRooms</li>
  } }
</ul>
}@else {
<h2>No Room Available!!!!!</h2>
}
<br><br>
<h2>Your choosed Room</h2>

@if (selectedRoom) {
  {{selectedRoom | json}}
} -->

<div>
  <!-- <button (click)="addRoom()">Add Room (POST)</button> -->
  <button routerLink="addy">Add Room (POSTT)</button>
  
</div>

<div>
  <button (click)="editRoom()">Edit Room (PUT)</button>

  <button (click)="deleteRoom()">Remove Room (DELETE)</button>
</div>

<h1>{{totalBytes}} loaded</h1>

<p>will show if any error happend by catchError + Subject </p>
<h1>
  {{(error$ | async )}}
  Number of Rooms: {{ roomsCount$ | async}}
</h1>

<br>
<hr>
<br>

heelo
{{ priceFilter.valueChanges | async | json }}
<div>
  <input type="number" name="form-control" placeholder="Price" [formControl]="priceFilter" >
</div>


<h1>ROOM DETAILS</h1>
@if (roomList.length > 0 && !hideRooms) {
  <!-- @input give roomList and take @output selectedRoom -->
  <app-rooms-list 
    [rooms]="roomList" 
    [title]="title"
    (selectedRoom)="selectTheRoom($event)"
    [price] = "priceFilter?.value || 0"
  ></app-rooms-list>
}@else {
<h2>!!!No room in the Hotel 🤣🤣 or RoomList hided by the Button</h2>
} 

<!-- modal pop-up -->

<button class="btn btn-primary" (click)="openModal(content)">Open Modal(popup)</button>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Hello Modal</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <p>This is modal content!!</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" (click)="modal.close()">Close</button>
    </div>
</ng-template>

<h2> Selected Room: </h2>
<router-outlet></router-outlet>

